{% extends 'plantilla3.html' %}

{% block body %} 
<div class="flex b items-center  justify-center h-screen bg-gradient-to-r from-green-800 via-white-800 to-wreen-2500">
    <div class=" p-6 m rounded-md w-2/4">
      <img src="/static/imagenes/LOGO_OPDES_BLANCO-removebg-preview.png" alt="Logo" style="max-width: 500px; height: auto;">
    </div>
    <div class="mr-10">
      <p class="text-6xl font-bold text-center text-black">¿Quienes Somos?</p>
      <p class="text-2xl p-5">En un mundo cada vez más consciente de la importancia de abordar los desafíos 
        del desarrollo sostenible, surge la necesidad de crear espacios que fomenten la 
        colaboración, el intercambio de ideas y la generación de soluciones concretas. 
        Es en este contexto que nace el proyecto "OPDES: Organización de Proyectos 
        de Desarrollo Sostenible".
      </p>
    </div>
  </div>

  <div class="flex justify-center items-center h-screen">
    <div class="max-w-screen-xl bg-white rounded-lg shadow-2xl overflow-hidden">
        <div class="flex">
            <div class="w-1/2">
                <div class="swiper my-4">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide m-4">
                            <img src="https://i.pinimg.com/564x/78/b3/ee/78b3eed031f046058d058c3b09e9d391.jpg" alt="Imagen del proyecto">
                        </div>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
            <div class="w-1/2 p-8">
                <h2 class="text-3xl font-bold mb-4">Objetivo 17</h2>
                <p class="text-sm text-center text-gray-700 mb-6">El Objetivo 17 de los Objetivos de Desarrollo Sostenible se centra en fortalecer la cooperación internacional y las alianzas para lograr un desarrollo sostenible. Busca mejorar la asistencia oficial para el desarrollo, promover alianzas público-privadas, facilitar el acceso a la tecnología y el conocimiento, y mejorar la cooperación comercial. En resumen, este objetivo reconoce la necesidad de trabajar juntos a nivel global para abordar los desafíos del desarrollo sostenible de manera efectiva.</p>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}